/* Hide the arrow button on ads. */
.ypaAdCtaButtonImageDiv {
  display: none !important;
}
/* Hide the empty image div. */
.ypaAdImageDiv {
  display: none !important;
}
/* Disable keyword bolding in results. */
b {
  font-weight: normal !important;
}
/* Add a bottom border to the ads div. */
.ypaAdSS .ypaAdUnit {
  border-bottom: 1px solid rgb(228, 228, 228);
}
