{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "babel-plugin-lodash",
    ["module-resolver", {
      "root": ["../"],
      "alias": {
        "database": "../graphql/database"
      }
    }],
    ["transform-inline-environment-variables", {
      "include": [
        "LAMBDA_TAB_V4_HOST"
      ]
    }]
  ],
  "ignore": [
    "build",
    "**/coverage",
    "**/__mocks__",
    "**/__tests__"
  ]
}
