{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "babel-plugin-lodash",
    ["module-resolver", {
      "root": ["../"],
      "alias": {
        "database": "../graphql/database"
      }
    }]
  ]
}