body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Begin fade animation */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
}
/* End fade animation */

.fade-dashboard-enter {
  opacity: 0.01;
}

/* Begin fade-dashboard animation */
.fade-dashboard-enter.fade-dashboard-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.fade-dashboard-exit {
  opacity: 1;
}

.fade-dashboard-exit.fade-dashboard-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.fade-dashboard-appear {
  opacity: 0.01;
}

.fade-dashboard-appear.fade-dashboard-appear-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}
/* End fade-dashboard animation */

/* Begin fade-background animation */
.fade-background-enter {
  opacity: 0.01;
}

.fade-background-enter.fade-background-enter-active {
  opacity: 1;
  /*
    Slight delay to minimize the possibility that a new
    image will fade in while an existing image is still
    fading. We should handle this in UserBackgroundImage
    instead, but our version of react-transition-group
    doesn't support callbacks.
  */
  transition: opacity 500ms ease-in 150ms;
}

.fade-background-exit {
  opacity: 1;
}

.fade-background-exit.fade-background-exit-active {
  opacity: 0.01;
  /* Delay some time to give the underlying image time to render */
  transition: opacity 700ms ease-in 1500ms;
}

.fade-background-appear {
  opacity: 0.01;
}

.fade-background-appear.fade-background-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
/* End fade-background animation */

/* Begin active-widget animation */
.active-widget-enter {
  opacity: 0.01;
  /* Delay some time before entering to give the exiting component time to leave */
  transition: opacity 200ms ease-in 20ms;
}

.active-widget-enter.active-widget-enter-active {
  opacity: 1;
}

.active-widget-exit {
  opacity: 1;
}

.active-widget-exit.active-widget-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.active-widget-appear {
  opacity: 0.01;
}

.active-widget-appear.active-widget-appear-active {
  opacity: 1;
  transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
}
/* End active-widget animation */

/* Begin edit-widget-chip animation */
.edit-widget-chip-enter {
  opacity: 0.01;
}

.edit-widget-chip-enter.edit-widget-chip-enter-active {
  opacity: 1;
  transition: opacity 240ms ease-in 60ms;
}

.edit-widget-chip-exit {
  opacity: 1;
}

.edit-widget-chip-exit.edit-widget-chip-exit-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}
/* End edit-widget-chip animation */

/* Links */
a.active {
  font-weight: bold;
}
