body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Begin fade animation */ 
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
  -webkit-transition: opacity .3s ease-in;
  -ms-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
}
/* End fade animation */ 

.fade-dashboard-enter {
  opacity: 0.01;
}

/* Begin fade-dashboard animation */ 
.fade-dashboard-enter.fade-dashboard-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.fade-dashboard-leave {
  opacity: 1;
}

.fade-dashboard-leave.fade-dashboard-leave-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.fade-dashboard-appear {
  opacity: 0.01;
}

.fade-dashboard-appear.fade-dashboard-appear-active {
  opacity: 1;
  transition: opacity 0.8s ease-in;
  -webkit-transition: opacity 0.8s ease-in;
  -ms-transition: opacity 0.8s ease-in;
  -moz-transition: opacity 0.8s ease-in;
}
/* End fade-dashboard animation */ 

/* Begin active-widget animation */ 
.active-widget-enter {
  opacity: 0.01;
  /* Delay some time before entering to give the exiting component time to leave */
  transition: opacity 200ms ease-in 20ms;
}

.active-widget-enter.active-widget-enter-active {
  opacity: 1;
}

.active-widget-leave {
  opacity: 1;
}

.active-widget-leave.active-widget-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.active-widget-appear {
  opacity: 0.01;
}

.active-widget-appear.active-widget-appear-active {
  opacity: 1;
  transition: opacity 0.200s ease-in;
  -webkit-transition: opacity 0.200s ease-in;
  -ms-transition: opacity 0.200s ease-in;
  -moz-transition: opacity 0.200s ease-in;
}
/* End active-widget animation */ 

/* Links */
a.active {
  font-weight: bold;
}

