{
  "passPerPreset": true,
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["relay", {
      "schema": "data/schema.graphql"
    }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "authentication": "./src/js/authentication"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-intl", {
            "messagesDir": "./build/messages/"
          }
        ],
        [ "relay", {
            "compat": true, 
            "schema": "data/schema.graphql",
            "enforceSchema": false,
            "debug": true,
            "suppressWarnings": false
          }
        ],
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    }
  }
}
