{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": [
        "./babel/babelRelayPlugin"
      ]
    },
    "react",
    ["es2015", { "modules": false }],
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    }
  }
}
