{
  "passPerPreset": true,
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["relay", {
      "compat": true, 
      "schema": "data/schema.graphql"}],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "relay-test-utils": "utils/relay-test-utils",
        "mutations": "./src/js/mutations",
        "navigation": "./src/js/navigation",
        "general": "./src/js/components/General",
        "web-utils": "./src/js/utils/utils",
        "utils": "./src/js/utils",
        "analytics": "./src/js/analytics",
        "ads": "./src/js/ads",
        "authentication": "./src/js/authentication",
        "theme": "./src/js/theme",
        "assets": "./src/js/assets"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-intl", {
            "messagesDir": "./build/messages/"
          }
        ],
        [ "relay", {
            "compat": true, 
            "schema": "data/schema.graphql",
            "enforceSchema": false,
            "debug": true,
            "suppressWarnings": false
          }
        ],
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }]
      ]
    },
    "test": {
      "presets": [
        "react",
        "es2015",
        "stage-0"
      ]
    }
  }
}
