
service: web # Important: this must be unique in AWS Cloudformation!
frameworkVersion: ">=1.14.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs12.x
  region: us-west-2
  stage: ${env:SLS_STAGE, self:custom.stageDefault}
  # Let's be conservative and prevent any unexpected changes
  # to the stack. See:
  # https://github.com/gladly-team/tab/issues/582
  stackPolicy:
    - Effect: Deny
      Principal: "*"
      Action: "Update:*"
      Resource: "*"

custom:
  stageDefault: dev
  stage: ${env:SLS_STAGE, self:custom.stageDefault}
  newTabAppS3Bucket: ${env:DEPLOYMENT_WEB_APP_S3_BUCKET_NAME}
  newTabAppLambdaEdgeFunctionARN: arn:aws:lambda:us-east-1:${env:AWS_ACCOUNT_ID}:function:lambda-edge-${self:provider.stage}-newtabAppLambdaEdge:${env:DEPLOYMENT_WEB_APP_LAMBDA_EDGE_FUNCTION_VERSION}
  searchAppS3Bucket: ${env:DEPLOYMENT_SEARCH_APP_S3_BUCKET_NAME}
  searchAppLambdaEdgeFunctionARN: arn:aws:lambda:us-east-1:${env:AWS_ACCOUNT_ID}:function:lambda-edge-${self:provider.stage}-searchAppLambdaEdge:${env:DEPLOYMENT_SEARCH_APP_LAMBDA_EDGE_FUNCTION_VERSION}
  graphQLProxyDomain: ${env:DEPLOYMENT_GRAPHQL_DOMAIN}
  graphQLProxyPath: ${env:DEPLOYMENT_GRAPHQL_PATH}
  webAppName: Tab2017
  searchAppName: SearchForACause
  graphQLAppName: TabGraphQL
  cloudfrontDomainAlias: ${env:DEPLOYMENT_WEB_APP_CLOUDFRONT_DOMAIN_ALIAS}
  SSLCertificateARN: ${env:SSL_CERTIFICATE_ARN}
  # How long Cloudfront should cache no-cache objects, such
  # as HTML, at edge locations.
  CloudfrontNonStaticCachingSeconds: 60
  # The max time Cloudfront should cache static files.
  CloudfrontMaxLongLivedCachingSeconds: 63115200 # two years
  websiteOrigin: ${env:DEPLOYMENT_LANDING_PAGE_DOMAIN}
  websiteAppName: TabLandingPage

resources:
  Resources:
    # New tab app S3 bucket
    TabS3Bucket:
      Type: AWS::S3::Bucket
      DeletionPolicy: Retain
      UpdateReplacePolicy: Retain
      Properties:
        BucketName: ${self:custom.newTabAppS3Bucket}
        AccessControl: PublicRead
        WebsiteConfiguration:
          IndexDocument: index.html
          # FYI: We don't want to rely on setting S3's error document to the
          # index.html file, because then S3 will return a 404 to Cloudfront,
          # which will call the 404 error document; CloudFront only allows
          # one custom 404 error document, which means this wouldn't work
          # for two single-page apps on the same CF distribution.
          ErrorDocument: newtab/index.html
    TabS3BucketPolicy:
      Type: AWS::S3::BucketPolicy
      DeletionPolicy: Retain
      UpdateReplacePolicy: Retain
      Properties:
        Bucket:
          Ref: TabS3Bucket
        PolicyDocument:
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: "*"
              Action:
                - s3:GetObject
              Resource: arn:aws:s3:::${self:custom.newTabAppS3Bucket}/*

    # Search app S3 bucket
    SearchAppS3Bucket:
      Type: AWS::S3::Bucket
      DeletionPolicy: Retain
      UpdateReplacePolicy: Retain
      Properties:
        BucketName: ${self:custom.searchAppS3Bucket}
        AccessControl: PublicRead
        WebsiteConfiguration:
          IndexDocument: index.html
          ErrorDocument: search/index.html
    SearchAppS3BucketPolicy:
      Type: AWS::S3::BucketPolicy
      DeletionPolicy: Retain
      UpdateReplacePolicy: Retain
      Properties:
        Bucket:
          Ref: SearchAppS3Bucket
        PolicyDocument:
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: "*"
              Action:
                - s3:GetObject
              Resource: arn:aws:s3:::${self:custom.searchAppS3Bucket}/*

    # Serve the app through Cloudfront.
    WebAppCloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      DeletionPolicy: Retain
      UpdateReplacePolicy: Retain
      Properties:
        # https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cloudfront-distributionconfig.html
        DistributionConfig:
          Origins:
            # Web S3 bucket.
            - DomainName: ${self:custom.newTabAppS3Bucket}.s3.amazonaws.com
              # An identifier for the origin. This must be unique within the distribution.
              Id: ${self:custom.webAppName}
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                # HTTP only is required for S3 buckets that are configured as
                # website endpoints:
                # https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesOriginProtocolPolicy 
                OriginProtocolPolicy: http-only
            # Search for a Cause S3 bucket.
            - DomainName: ${self:custom.searchAppS3Bucket}.s3.amazonaws.com
              # An identifier for the origin. This must be unique within the distribution.
              Id: ${self:custom.searchAppName}
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                # HTTP only is required for S3 buckets that are configured as
                # website endpoints:
                # https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesOriginProtocolPolicy 
                OriginProtocolPolicy: http-only
            # GraphQL service.
            - DomainName: ${self:custom.graphQLProxyDomain}
              OriginPath: ${self:custom.graphQLProxyPath}
              Id: ${self:custom.graphQLAppName}
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: https-only
            # Homepage / landing page.
            - DomainName: ${self:custom.websiteOrigin}
              Id: ${self:custom.websiteAppName}
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: http-only
          Enabled: true
          Comment: ${self:custom.stage} new tab app, search app, and homepage
          # No default root object; our website (landing page) app handles it.
          # DefaultRootObject: index.html
          Aliases:
            - ${self:custom.cloudfrontDomainAlias}
          # Show the homepage's 404 page if any origin returns 404.
          # https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HTTPStatusCodes.html#HTTPStatusCodes-custom-error-pages
          CustomErrorResponses:
            - ErrorCode: 404
              ResponseCode: 200
              ResponsePagePath: /404.html
              # We always return our HTML page for 404 errors, and most
              # pageviews are 404 errors because of the single-page app.
              # This is effectively how long we keep the HTML page in
              # edge caches.
              # https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HTTPStatusCodes.html
              ErrorCachingMinTTL: ${self:custom.CloudfrontNonStaticCachingSeconds}
          # How CloudFront determines cache behavior:
          #   https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html#ExpirationDownloadDist
          # CloudFront guide to CacheBehavior:
          #   https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cloudfront-cachebehavior.html
          # We rely on Cache-Control headers set on the origin S3 buckets
          # to set long-lived CloudFront caching files at edge locations.
          # We enforce a minimum, short CF cache for objects that aren't
          # browser-cached.
          CacheBehaviors:
            # New tab app
            - PathPattern: 'newtab*'
              # Short caching of non-static files for some speed gains and
              # reduced request volume to S3 origin.
              MinTTL: ${self:custom.CloudfrontNonStaticCachingSeconds}
              # Allow the origin to set long-lived caching on files.
              MaxTTL: ${self:custom.CloudfrontMaxLongLivedCachingSeconds}
              AllowedMethods:
                - HEAD
                - GET
                - OPTIONS
              TargetOriginId: ${self:custom.webAppName}
              ForwardedValues:
                QueryString: false
                Cookies:
                  Forward: none
              Compress: true
              ViewerProtocolPolicy: redirect-to-https
              # When CloudFront calls our origin, this function rewrites all
              # HTML requests to the root index.html to serve the single-page
              # app. We don't want to rely on setting S3's error document to the
              # index.html file, because then S3 will return a 404 to Cloudfront,
              # which will call the 404 error document; CloudFront only allows
              # one custom 404 error document, which means this wouldn't work
              # for two single-page apps on the same CF distribution.
              LambdaFunctionAssociations:
                # "Executes on a cache miss, before a request is forwarded to
                # the origin"
                # https://aws.amazon.com/blogs/networking-and-content-delivery/lambdaedge-design-best-practices/
                - EventType: origin-request
                  LambdaFunctionARN: ${self:custom.newTabAppLambdaEdgeFunctionARN}
            # Search app
            - PathPattern: 'search*'
              # Short caching of non-static files for some speed gains and
              # reduced request volume to S3 origin.
              MinTTL: ${self:custom.CloudfrontNonStaticCachingSeconds}
              # Allow the origin to set long-lived caching on files.
              MaxTTL: ${self:custom.CloudfrontMaxLongLivedCachingSeconds}
              AllowedMethods:
                - HEAD
                - GET
                - OPTIONS
              TargetOriginId: ${self:custom.searchAppName}
              ForwardedValues:
                QueryString: false
                Cookies:
                  Forward: none
              Compress: true
              ViewerProtocolPolicy: redirect-to-https
              LambdaFunctionAssociations:
                - EventType: origin-request
                  LambdaFunctionARN: ${self:custom.searchAppLambdaEdgeFunctionARN}
            # GraphQL
            - PathPattern: 'graphql*'
              MinTTL: 0
              MaxTTL: 0
              DefaultTTL: 0
              AllowedMethods:
                - HEAD
                - DELETE
                - POST
                - GET
                - OPTIONS
                - PUT
                - PATCH
              TargetOriginId: ${self:custom.graphQLAppName}
              ForwardedValues:
                # Cannot use '*', as that sends the Host header:
                # https://stackoverflow.com/a/32825414 
                Headers:
                  - Authorization
                QueryString: false
                Cookies:
                  Forward: none
              ViewerProtocolPolicy: redirect-to-https
            # Send all remaining traffic to our homepage
            - PathPattern: '*'
              # Short caching of non-static files for some speed gains and
              # reduced request volume to S3 origin.
              MinTTL: ${self:custom.CloudfrontNonStaticCachingSeconds}
              # Allow the origin to set long-lived caching on files.
              MaxTTL: ${self:custom.CloudfrontMaxLongLivedCachingSeconds}
              AllowedMethods:
                - HEAD
                - GET
                - OPTIONS
              TargetOriginId: ${self:custom.websiteAppName}
              ForwardedValues:
                QueryString: false
                Cookies:
                  Forward: none
              # https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html
              Compress: true
              ViewerProtocolPolicy: redirect-to-https
          DefaultCacheBehavior:
            AllowedMethods:
              - HEAD
              - GET
              - OPTIONS
            TargetOriginId: ${self:custom.webAppName}
            ForwardedValues:
              QueryString: false
              Cookies:
                Forward: none
            # The protocol that users can use to access the files in the origin.
            # https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cloudfront-defaultcachebehavior.html#cfn-cloudfront-defaultcachebehavior-viewerprotocolpolicy
            ViewerProtocolPolicy: redirect-to-https
          # The certificate to use when viewers use HTTPS to request objects.
          # https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cloudfront-distributionconfig-viewercertificate.html
          ViewerCertificate:
            AcmCertificateArn: ${self:custom.SSLCertificateARN}
            SslSupportMethod: sni-only
  
  # In order to print out the hosted domain via `serverless info`,
  # we need to define the DomainName output for CloudFormation
  Outputs:
    WebAppCloudFrontDistributionOutput:
      Value: ${self:custom.newTabAppS3Bucket}.s3.amazonaws.com
